<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.wichman_rss_news.android.example.com.wichman_rss_news_feed" >

    <!-- This permission is necessary in order for Sunshine to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  <uses-permission android:name="android.permission.READ_CONTACTS" >
     </uses-permission>
     <uses-permission android:name="android.permission.WRITE_CONTACTS" >
     </uses-permission> -->

     <application
         android:allowBackup="true"
         android:icon="@mipmap/ic_launcher"
         android:label="@string/app_name"
         android:theme="@style/AppTheme" >
         <activity
             android:name=".MainActivity"
             android:label="@string/app_name" >
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>
         <activity
             android:name=".RSSFeedActivity"
             android:label="RSSFeedHeadlines" >
         </activity>

         <provider
             android:name=".MyContentProvider"
             android:authorities="app.wichman_rss_news.android.example.com.wichman_rss_news_feed.MyContentProvider"
             android:enabled="true"
             android:exported="true"
             android:multiprocess="true" >
         </provider>

         <activity
             android:name=".ContactsActivity"
             android:label="@string/title_activity_contacts" >
         </activity>
         <!--
         <activity
             android:name=".AddContactActivity"
             android:label="@string/title_activity_add_contact" >
         </activity>
         -->
     </application>

</manifest>
